<% if object.errors.any? %> <!-- returning true if there are any elements present and false otherwise. -->
  <!-- object can be @user or @micropost-->

  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(object.errors.count, "error") %>. <!-- .count to count errors -->
    </div>

  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

  </div>

<% end %>